<div class="mt-4">
<div>
  <h3>My Courses</h3>

  <a href="/me/courses/trash">Trash ({{deletedCount}} items)</a>
</div>


  <div class="mt-4 d-flex align-item-center">
    <select class="form-select form-control-sm select-all-options" aria-label="Default select example">
      <option selected>Action</option>
      <option value="delete">Delete</option>
    </select>

    <button class="btn btn-primary btn-sm" disabled>Do it</button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="flexCheckDefault">
              Check All
            </label>
          </div>
        </th>
        <th scope="col">#</th>
        <th scope="col">Name
          {{{sortable 'name' _sort}}}
        </th>
        <th scope="col">Level
          {{{sortable 'level' _sort}}}
        </th>
        <th scope="col">Time
          {{{sortable 'createdAt' _sort}}}
        </th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <th>
          <div class="form-check">
            <input class="form-check-input" name="courseIds[]" type="checkbox" value="{{this._id}}">
          </div>
        </th>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="/courses/{{this._id}}/edit" class="btn btn-link">Edit</a>
          <a href="" class="btn btn-link" data-id="{{this._id}}" data-title="{{this.name}}"
            data-bs-toggle="modal" data-bs-target="#exampleModal">Remove</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          Empty list
          <a href="/courses/create">Create now</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="POST" id="delete-course-form">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure?
          </div>
          <div class="modal-footer">
            <button type="submit" id="btn-delete-course" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>

  document.addEventListener('DOMContentLoaded', function () {
  })

  var exampleModal = document.getElementById('exampleModal');
  var deleteCourseForm = document.getElementById('delete-course-form');

  exampleModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget;
    var title = button.getAttribute('data-title');
    var courseId = button.getAttribute('data-id');
    var modalTitle = exampleModal.querySelector('.modal-title');

    modalTitle.textContent = `Do you want to delete "${title}"`;

    deleteCourseForm.action = `/courses/${courseId}?_method=DELETE`;
  })

</script>