<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Level</th>
      <th scope="col">Time</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.level}}</td>
      <td>{{this.createdAt}}</td>
      <td>
        <a href="/courses/{{this._id}}/edit" class="btn btn-link">Edit</a>
        <a href="/courses/{{this._id}}/delete" class="btn btn-link" data-id="{{this._id}}" data-title="{{this.name}}"
          data-bs-toggle="modal" data-bs-target="#exampleModal">Remove</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" id="delete-course-form">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure?
        </div>
        <div class="modal-footer">
          <button type="submit" id="btn-delete-course" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>

  document.addEventListener('DOMContentLoaded', function () {

  })

  var courseId;

  var exampleModal = document.getElementById('exampleModal');
  var deleteCourseForm = document.getElementById('delete-course-form');

  exampleModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget;
    var title = button.getAttribute('data-title');
    courseId = button.getAttribute('data-id');
    var modalTitle = exampleModal.querySelector('.modal-title');

    modalTitle.textContent = `Do you want to delete "${title}"`;

    deleteCourseForm.action = `/courses/${courseId}?_method=DELETE`;
  })

</script>